.DS_Store
*.o

# autotools related stuff
compile
config.guess
config.status
configure
config.h
config.log
config.sub
depcomp
Makefile
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
test-driver
autom4te.cache/
Makefile.in
aclocal.m4
config.h.in*
m4/*.m4
src/.deps
*tar.gz
src/cryptoded
etc/cryptoded.json
etc/cryptoded.conf
cryptode.spec
tests/.deps
tests/cryptoded_tests
tmp

# Intellij IdeaC
.idea/
CMakeLists.txt
cmake-build-debug/
upload_release.sh

tests/test-suite.log

tests/runtests.sh.log
tests/runtests.sh.trs
src/cryptoded.nos
src/conf.nos.c
src/conf.nos.h
src/cryptode.nos.c
src/cryptode.nos.h
src/cryptode
src/cryptoded.nos.c
src/cryptoded.nos.h
