.DS_Store
*.o

# autotools related stuff
compile
config.guess
config.status
configure
config.h
config.log
config.sub
depcomp
Makefile
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
test-driver
autom4te.cache/
rvc
Makefile.in
aclocal.m4
config.h.in*
m4/*.m4
src/.deps
src/rvcd.dSYM
*tar.gz
platforms/macos/rvc.dist
rvc.pkg
src/rvd
etc/rvd.json
rvc.spec
tests/rvd_tests
tests/.deps
tmp

# Intellij IdeaC
.idea/
CMakeLists.txt
cmake-build-debug/
upload_release.sh
