[
  {
    "name": "rvc-test1",
    "ovpn": "/Users/rvc/.setup/test1.ovpn",
    "auto-connect": true
  },
  {
    "name": "rvc-test2",
    "ovpn": "/Users/rvc/.setup/test2.ovpn",
    "auto-connect": false
  }
]
